/* Estilo general */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Contenedor */
.container {
    width: 60%;
    margin: auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

/* Estilo del input file */
.file-input {
    display: block;
    margin: 15px auto;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 80%;
}

/* Botón de subir archivo */
.btn {
    text-decoration: none;
    background: #007BFF;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.btn i {
    font-size: 18px;
}

.btn:hover {
    background: #0056b3;
}

/* Botón de regreso */
.back-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 15px;
    background: #dc3545;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.back-btn i {
    font-size: 16px;
}

.back-btn:hover {
    background: #c82333;
}
